body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.appbar{
    background-color:#49af5d;
    color:#969696;
    display: flex;
    width: 100%;
    align-items: center;
}
.appbar a{
    color:white;
    font-size: 2em;
    margin-right:20px;
    text-decoration: none;
}
@media only screen and (max-width: 500px){
    .appbar a{
        font-size: 1.5em;
    }
}

.appbar div.left {
    width: 100%;
}

.appbar div.right {
    float: right;
}

.appbar img{
    width:4em;
    margin-left:20px;
    justify-content: flex-start;
}